# NEAREST NEIGHBORS

#### LOAD THE DEPENDANCIES

In [32]:
import pandas as pd
from pandas import set_option
from pandas.plotting import scatter_matrix
import numpy as np
from numpy import set_printoptions

import matplotlib as plt

import os
import sys
sys.path.insert(0, "C:\\Users\\Crystal\\Desktop\\Programs\\my-modules-and-libraries")

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score,recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

from scipy import stats

#### RETRIEVE THE DATASET

In [33]:
location=r'C:\Users\Crystal\Desktop\Programs\dataset_repo\diabetes.csv'
dataset=pd.read_csv(location)

In [34]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
Pregnancies                 768 non-null int64
Glucose                     768 non-null int64
BloodPressure               768 non-null int64
SkinThickness               768 non-null int64
Insulin                     768 non-null int64
BMI                         768 non-null float64
DiabetesPedigreeFunction    768 non-null float64
Age                         768 non-null int64
Outcome                     768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [35]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

#### PREPROCESSING: Replacing zeros where it is not a valid value for that feature.
##### This done here by replacing the zero values with a NAN, then replacing the NAN with the average value for non-zero values in that column

In [36]:
zero_not_accepted=['Glucose','BloodPressure','SkinThickness','BMI','Insulin']

for header in zero_not_accepted:
    dataset[header]=dataset[header].replace(0,np.nan)
    mean=int(dataset[header].mean(skipna=True))
    dataset[header]=dataset[header].replace(np.nan,mean)

In [37]:
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,155.0,33.6,0.627,50,1
1,1,85.0,66.0,29.0,155.0,26.6,0.351,31,0
2,8,183.0,64.0,29.0,155.0,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

#### PREPROCESSING: Split the dataset

In [54]:
# X=dataset.iloc[:,0,8]
X=dataset.iloc[:,[1,3,5]]
y=dataset.iloc[:,8]
X

     Glucose  SkinThickness   BMI
0      148.0           35.0  33.6
1       85.0           29.0  26.6
2      183.0           29.0  23.3
3       89.0           23.0  28.1
4      137.0           35.0  43.1
5      116.0           29.0  25.6
6       78.0           32.0  31.0
7      115.0           29.0  35.3
8      197.0           45.0  30.5
9      125.0           29.0  32.0
10     110.0           29.0  37.6
11     168.0           29.0  38.0
12     139.0           29.0  27.1
13     189.0           23.0  30.1
14     166.0           19.0  25.8
15     100.0           29.0  30.0
16     118.0           47.0  45.8
17     107.0           29.0  29.6
18     103.0           38.0  43.3
19     115.0           30.0  34.6
20     126.0           41.0  39.3
21      99.0           29.0  35.4
22     196.0           29.0  39.8
23     119.0           35.0  29.0
24     143.0           33.0  36.6
25     125.0           26.0  31.1
26     147.0           29.0  39.4
27      97.0           15.0  23.2
28     145.0           19.0  22.2
29     117.0           29.0  34.1
..       ...            ...   ...
738     99.0           17.0  36.6
739    102.0           29.0  39.5
740    120.0           37.0  42.3
741    102.0           20.0  30.8
742    109.0           18.0  28.5
743    140.0           29.0  32.7
744    153.0           37.0  40.6
745    100.0           33.0  30.0
746    147.0           41.0  49.3
747     81.0           41.0  46.3
748    187.0           22.0  36.4
749    162.0           29.0  24.3
750    136.0           29.0  31.2
751    121.0           39.0  39.0
752    108.0           24.0  26.0
753    181.0           44.0  43.3
754    154.0           32.0  32.4
755    128.0           39.0  36.5
756    137.0           41.0  32.0
757    123.0           29.0  36.3
758    106.0           29.0  37.5
759    190.0           29.0  35.5
760     88.0           26.0  28.4
761    170.0           31.0  44.0
762     89.0           29.0  22.5
763    101.0           48.0  32.9
764    122.0           27.0  36.8
765    121.0           23.0  26.2
766    126.0           29.0  30.1
767     93.0           31.0  30.4

[768 rows x 3 columns]

In [42]:
X_train,X_test,Y_train,Y_test=train_test_split()

NameError: name 'X' is not defined